<h1 class="master-title"></h1>
<div class="card-grid"></div>

<div class="bottom">
  <div id="clues" class="side-pannel">
    <h2>Indices</h2>
    <div class="side-pannel-header">
      <div class="line">
        <span>Indice</span>
        <span>Cartes liées</span>
      </div>
    </div>
    <div class="side-pannel-container"></div>
  </div>
  <div class="middle-pannel">
    <div id="announcement">À vous de jouer !</div>
    <div id="wm-inputs">
      <input id="wm-hint" type="text" placeholder="Indice" />
      <input id="wm-associated-guess" type="number" min="0" max="8" placeholder="Carte liées" />
    </div>
    <button id="send-hint" class="primary">Envoyer</button>
  </div>
  <div id="events" class="side-pannel">
    <h2>Évènements</h2>
    <div class="side-pannel-header">
      <div class="line">
        <span>Évènement</span>
        <span>Action</span>
      </div>
    </div>
    <div class="side-pannel-container"></div>
  </div>
</div>
